  <!-- Navbar -->
  <header class="site-header fixed-top bg-black border-bottom border-dark fixed-top">
    <div class="container">
        <nav class="navbar main-nav navbar-expand-lg navbar-dark" aria-label="Main navigation">

            <%= link_to 'Michelle <i class="material-icons ml-2" aria-hidden="true">blur_on</i>'.html_safe, index_path(@index), {:class => "navbar-brand d-inline-flex text-uppercase"} %>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-uppercase" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                	<li class="nav-item dropdown">
                		<div class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				        	My Work
				        </div>
				        <div class="dropdown-menu navbar-dark" aria-labelledby="navbarDropdownMenuLink">
                            <%= link_to 'index',{ :controller => 'projects', :action => 'index'}, {:class => "dropdown-item nav-link"} %>
                            <%= link_to 'highlights','#', {:class => "disabled dropdown-item nav-link"} %>
                            <%= link_to 'web dev', '#', {:class => "disabled dropdown-item nav-link"} %>
                            <%= link_to 'datascience', '#', {:class => "disabled dropdown-item nav-link"} %>
                            <%= link_to 'analysis', '#', {:class => "disabled dropdown-item nav-link"} %>
                            <div class="dropdown-divider"></div>
				        </div>
				     </li>
                    <li class="nav-item">
                        <%= link_to 'about', about_path, {:class => "nav-link"} %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'contact', contact_path, {:class => "nav-link"} %>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>