<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Goole fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CFira+Sans:300,400,400i,600" rel="stylesheet">
    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- CSS -->
    <%= stylesheet_link_tag "pages" %>
    <%= stylesheet_link_tag "projects" %>
</head>

<body>
  <!-- Navbar -->
  <%= render "pages/navbar" %>

  <main id="content">
    <!-- Banner -->
    <div class="hero container py-5 text-white">
        <h1>My Work</h1>
        <hr class="border-3 border-white my-4 ml-0 text-left w-25" role="presentation">
        <div class="row">
            <div class="col-lg-8">
                <p class="font-serif lead mb-4 text-secondary">Categories coming soon!</p>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light text-black py-4">
      <div class="container">
        <div class="row">

          <div class="side-nav-col col-lg-3 pl-lg-5 order-lg-2 pt-5 pt-lg-6">
            <div class="navbar side-nav navbar-expand-lg navbar-light sticky-top mb-3" aria-label="Components navigation">
                <a class="collapsed btn-block d-lg-none btn btn-outline-dark mb-3 p-3 text-center" href="#collapseOne" data-toggle="collapse" data-target="#navbarDocs" aria-expanded="false" aria-controls="navbarComp" aria-label="Toggle navigation">
                    <span class="text-uppercase">Navigation</span>
                </a>
                <div class="collapse navbar-collapse" id="navbarDocs">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="index">Highlights</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Web Dev</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Datascience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Analysis</a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="side-nav-col col-lg-9 order-lg-1 text-black"> 
            <!-- for each project -->
            <% @projects.each do |project| %>
              <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
                <div class="col-lg-5 order-lg-2 mb-2 mb-lg-0">
                  <h2 class="h3 font-weight-normal text-dark"><%= project.name %></h2>
                  <h2 class="h3 font-weight-normal text-secondary"><%= project.category %></h2>
                  <p class="font-weight-light text-dark"><%= project.subtitle %></p>
                </div>
                <div class="col-lg-6 order-lg-1">
                  <a href="projects/<%= project.id %>">
                    <figure class="img-overlay">
                      <img src=<%= project.image%> class="project-img border-dark w-100 h-100">
                      <div class="img-hover">
                        <span class="img-text">View Page</span>
                      </div>
                    </figure>
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
<%= render "pages/footer.html" %>
</body>
</html>